<div class="container">
        <div class="card rounded-0 mb-3"
        *ngFor="let post of posts">
            <h3 class="card-header title">{{ post.title }}</h3>
            <div class="card-body">
                <p class="card-title small">Catégorie: {{ post.category }}</p>
                <p class="card-text">{{ post.content }}</p>
                <p class="lien">En savoir plus : <a class="card-text lien" routerLink=[post.link]>{{ post.link }}</a></p>
            </div>
        </div>

    <button class="btn btn-default" (click)="onBack()">Retour</button>

</div>