
<!-- Header -->
<div class="toolbar" role="banner">
  <h1 class="logo" routerLink="/"><span class="bold">dev.</span>(io)</h1> 
  <div class="spacer"></div>
  <a routerLink="blog" routerLinkActive="active" class="toolbar">Annuaire</a>
  <a routerLink="signup" routerLinkActive="active" class="toolbar" *ngIf="!isAuth">Se connecter </a>
  <a (click)="onSignOut()" *ngIf="isAuth" style="cursor:pointer">Logout</a>
</div>

<!-- Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<div class="space"></div>
<div class="toolbar" role="banner">
  <p class="mx-auto small">© 2019 Rachel Nething | Technologies : Angular & Firebase</p>
  <p class="mx-auto small">Mentions légales</p>
</div>
