<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center">Outils & services pour développeurs</h2>

            <div class="card rounded-0 mb-3"
            *ngFor="let post of posts; let i = index">
                <h3 class="card-header title uppercase" (click)="onClickPost(i)">{{ post.title }}</h3>
                <div class="card-body">
                    <button class="card-title small" (click)="onClickCategory(post.category)">Catégorie: {{ post.category }}</button>
                    <p class="card-text">{{ post.resum }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>