<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Catégorie : {{ category }}</h3>
            <div class="divider"></div>
            <h2>Outils & services pour développeurs</h2>
            <div class="space"></div>
            <div class="card rounded-0 mb-3"
            *ngFor="let post of postsByCategory; let i = index">
                <h3 class="card-header title" (click)="onClickPost(i)">{{ post.title }}</h3>
                <div class="card-body">
                    <p class="card-text">{{ post.resum }}</p>
                </div>
            </div>
            <div class="text-right">
                <button type="button" class="btn btn-light rounded-0 ml-2" (click)="onBack()">Retour</button>
            </div>
        </div>
        <div class="col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>