<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/devio.jpg" alt="outils pour développeur web" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="space"></div>
            <h2 class="big-title">Outils pour développeurs <a routerLink="blog"><span class="bold big">Javascript addicts</span></a></h2>
            <div class="space"><div class="divider"></div></div>
            <p class="bold">Formations, bibliothèques, frameworks...</p>
            <p>Participez à la création de dev.(io), l'annuaire des solutions qui facilitent la vie des développeurs.</p>
            <p>Javascript est aujourd'hui un langage universel, fiable et pratique, à la fois en Front-End et Back-End. Comment ne pas l'adopter ?</p>
            <div class="space"></div>
            <button class="btn btn-dark" routerLink="blog">Découvrir les outils</button>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="container-fluid pink-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="space"></div>
                <h2 class="big-title bold big uppercase">Comment participer ?</h2>
                <div class="space"></div>
                <p class="bold">Tel un wikipedia du dev. JS, cette interface est ouverte à tous.</p>
                <p>Bien entendu un minimum de sérieux est demandé afin de rendre l'outil pratique et utile. Enfin, avant d'entrer un nouvel item, prenez soin de vérifier qu'il n'existe pas déjà. Lors de la création, relisez bien votre grammaire et orthographe ;-)</p>
            </div>
            <div class="col-md-4">
                <app-signin></app-signin>
            </div>
        </div>
    </div>
</div>
