<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/assets/devio.jpg" alt="outils pour développeur web" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="space"></div>
            <h2 class="big-title">Annuaire d'outils pour <a routerLink="blog"><span class="bold big">développeurs</span></a> web & mobile.</h2>
            <div class="space"><div class="divider"></div></div>
            <p class="bold">Formations, bibliothèques, frameworks...</p>
            <p>Participez à la création de dev.(io), l'interface qui référence toutes les solutions qui peuvent faciliter la vie des développeurs.</p>
            <div class="space"></div>
            <button class="btn btn-dark" routerLink="blog">Découvrir les outils</button>
        </div>
    </div>
</div>
